/*
   primary colors:
   #150501, #3AOC00, #992407

   buttons:
   #4D1203,
*/
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Alegreya', sans-serif;
    font-size: 1.2rem;
    background-color: #FDFBF9;
}
a {
    color: #007ac3;
    text-decoration: none;
    background-color: transparent;
}
h2{
    font-family: 'Eczar', sans-serif;
}
h3{
    font-size: 1.5rem;
}
.content{
    margin-top: 65px !important;
}
.content--title{
    color: #992407;
}

/* Navigation Styling */
nav{
    background: rgba(58, 12, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 5px 0;
    z-index: 9999;
}
.nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    color: #ffffff !important;
}

.content--main {
    position: relative;
    text-align: center;
    color: #ffffff;
}

iframe{
    width: 100%;
}
/* About US Styling */
.content--about-us{
    margin-top: 95vh !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Menu Section Styling */
.content-secondary-title{
    font-weight: 500;
    font-size: 26px;
}

/* Footer Styling */
footer {
    background: #3a0c00;
    color: #ffffff;
}
.extras__item{
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.extras__item:hover{
    color: #ffcec2;
}
.extras__cols{
    margin-bottom: 1rem;
}
.extras__cols h3{
    font-size: 1.3rem;
}
.col-count-2-md {
    column-count: 2;
    -webkit-column-count: 2;
}
@media (min-width: 768px) {
    .col-count-2-md {
        column-count: 1;
        -webkit-column-count: 1;
    }
}
.instagram-icon{
    width: 32px;
}
.facebook-icon{
    width: 30px;
    height: 26px;
}

.text-highlighter{
    font-family: 'Eczar', sans-serif;
    font-weight: bold;
}



#myVideo {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    object-fit:fill;
    padding:0;
}


/* Morphing CSS Text Effect */

#container {
    position: relative;
    margin: auto;
    height: auto;
    width: 100%;
    top: 0;
    bottom: 0;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 40pt;
    text-align: center;
    user-select: none;
}
@media (min-width: 768px) {
    #container {
        height: 80pt;
    }
    #text1,
    #text2 {
        font-size: 80pt;
    }
}

/* Responsive Image Gallery styles */

.row-outer {
    padding: 20px 0;
}
.heading {
    text-align: center;
}
.container {
    width: 95%;
    max-width: 1160px;
    margin: auto;
}
.heading {
    text-align: center;
    padding: 20px 0;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'item1 item1 item2 item3'
                         'item4 item4 item2 item5'
                         'item4 item4 item2 item6';
    grid-gap: 10px;
}

.item {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    min-height: 12rem;
    cursor: pointer;
    background: red;
}

.item1 {
    grid-area: item1;
    background-position: top !important;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}


@media (max-width: 768px) {
    .grid-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "item1 item1 item2"
                             "item3 item4 item2"
                             "item5 item6 item2";
    }
}

@media (max-width: 620px) {
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "item1 item3"
                             "item2 item4"
                             "item2 item5"
                             "item2 item6";
    }
}


@media (max-width: 360px) {
    .grid-gallery {
        grid-template-columns: 1fr;
        grid-template-areas: "item1"
                             "item2"
                             "item3"
                             "item4"
                             "item5"
                             "item6";
    }
    .item2 {
        background-position: top;
    }
}
